@function breakpoint($size) {
  @if $size == small {
    @return 600px;
  } @else if $size == medium {
    @return 900px;
  } @else if $size == large {
    @return 1200px;
  } @else {
    @error "Unknown breakpoint size: #{$size}";
  }
}

@function doublePx($px) {
  @return $px * 2;
}

@function pxToRem($px, $base: 16) {
  @return ($px / $base) * 1rem;
}

@function mixColors($color1, $color2, $weight: 50%) {
  @return mix($color1, $color2, $weight);
}
